/* GENERAL */
html{
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{font-size: 3.2em;}
h2{font-size: 2.5em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none}

.color1{
    color: rgba(2, 50, 138, 0.911);
}

/* SECCION 1 Y 2 */

#entrada button{
    margin-top: 3rem;
    padding: 15px 29px;
    border-radius: 2rem;
    border: none;
    background: linear-gradient(
        -45deg, #9925ea, #338aff, #9925ea);
        /* background: linear-gradient(
            -45deg, rgba(28, 118, 243, 0.796), #33ff7e96, #a85dde8b); */
    background-size: 400%;
    background-position: 90% 0;
    color: #ffffff;
    transition: background 0.8s;
    font-size: 20px;
    cursor: pointer;   
}
        
#entrada button:hover{
    background-position: 185% 50%;
}


header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 30px;
    color: rgba(2, 50, 138, 0.911);
}

header a{
    transition: color 0.3s ease;
    padding: 5px 12px;
    color: rgba(2, 50, 138, 0.473);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    
}

header a:hover{
    color: rgba(0, 155, 103, 0.548);
    
}

.top {
    text-align: center;
}

header nav{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

#entrada{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
    url("img/setup1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#entrada h1{
    margin: 40px 40px;
    padding: 5px
}

#quienes-somos .container{
    margin: 0;
    padding: 250px 75px;
}

#quienes-somos p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
}

.container h2{
    text-align: center;
    color: rgba(0, 155, 103, 0.856);
    font-weight: bold;
    margin-bottom: 80px;
    padding-bottom: 10px;
    
}

div .ubicacion{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
}

#quienes-somos img{
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 50px 0;
    border: 4px solid rgba(0, 0, 0, 0.322);
    width: 200px;
    border-radius: 100%;
    
}

#quienes-somos img:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(13, 30, 36, 0.9);
    background-color: rgba(0, 0, 0, 0.404);
}

.ubicacion p{
    margin: 0;
    font-size: 15px;    
}

/* SECCION 3 */

#como-trabajamos{
    background-color: rgba(137, 182, 250, 0.274);
    text-align: center;
}

#como-trabajamos .container{
    padding: 250px 75px;
}

#como-trabajamos p{
    display: none;
}

#como-trabajamos h3{
    margin: 5px 0 20px 0;
    color: white;
    font-size: 1.7rem;
}

#como-trabajamos button{
    height: 2.5rem;
    padding: 0 1.5rem;
    border-radius: 1.3rem;
    border: none;
    /* background: linear-gradient(
        -45deg, #9925ea, #338aff, #9925ea); */
    background: linear-gradient(
        -35deg, rgba(28, 118, 243, 0.796), #33ff7eb6, #a85ddea4);
    background-size: 400%;
    background-position: 90% 0;
    color: #ffffff;
    transition: background 0.8s;
    font-size: 20px;
    cursor: pointer;   
}

#como-trabajamos button:hover{
    background-position: 185% 50%;
}

.carta{
    padding: 20px 40px;
    margin: 0;
    margin-bottom: 60px;
    border-radius: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
}

.carta:first-child{
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
    url("img/ensamblaje.jpg"); 
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
    url("img/componentes.webp"); 
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
    url("img/accesorios.jpg"); 
}

/* SECCION 4 */

#nuestros-profesionales .container{
    padding: 250px 75px;
}

#nuestros-profesionales li{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: left;
    font-size: 15px;
    margin-left: 30px;
    text-align: left;
}

#nuestros-profesionales ul{
    padding: 0px;
    margin-top: 10x;
    text-align: center;
    
}



/* animacion para our team */
 .pro{
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     width: 70%;
     margin-bottom: 30px;
     aspect-ratio: 1/1;
     position: relative;
     padding: 2rem;
     color: #ffffff;
     backface-visibility: hidden;
     text-decoration: none;
     overflow: hidden;
 }

 .pro::before, 
 .pro::after{
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
 }

 .pro::before{
     background: linear-gradient(
         to top,
         hsl(0 0% 0% / 0.79) 0%,
         hsl(0 0% 0% / 0.787) 7.8%,
         hsl(0 0% 0% / 0.779) 14.4%,
         hsl(0 0% 0% / 0.765) 20.2%,
         hsl(0 0% 0% / 0.744) 25.3%,
         hsl(0 0% 0% / 0.717) 29.9%,
         hsl(0 0% 0% / 0.683) 34.3%,
         hsl(0 0% 0% / 0.641) 38.7%,
         hsl(0 0% 0% / 0.592) 43.3%,
         hsl(0 0% 0% / 0.534) 48.4%,
         hsl(0 0% 0% / 0.468) 54.1%,
         hsl(0 0% 0% / 0.393) 60.6%,
         hsl(0 0% 0% / 0.31) 68.3%,
         hsl(0 0% 0% / 0.216) 77.3%,
         hsl(0 0% 0% / 0.113) 87.7%,
         hsl(0 0% 0% / 0) 100%,
     );
     transition: 300ms opacity linear;
 }
 
 .pro::after{
     background: linear-gradient(
         45deg,
         hsl(5 97% 63% / 0.7) 0,
         hsl(5 97% 63% / 0) 100%,
     );
     opacity: 0;
     transition: 300ms opacity linear;
 }

 .pro > *{
     z-index: 1;
 }

 .pro img {
     width: 100%;
     height: 100%;
     border-radius: 100%;
     position: absolute;
     top: 0;
     left: 0;
     margin: 0;
     z-index: -1;
     object-fit: cover;
     filter: grayscale(1);
     transition: filter 200ms ease, transform 250ms linear;
 }

.pro:hover::after,
.pro:focus::after,
.pro:hover::before,
.pro:focus::before{
    opacity: 0.7;
}

.pro:hover p,
.pro:focus p {
    opacity: 1;
    transition-delay: 200ms;
} 

.pro:hover img,
.pro:focus img{
    filter: grayscale(0);
    transform: scale(1.05) rotate(1deg);
}

.pro h3,
.pro p{
    text-align: center;
    transform: translateY(2ex);
}

.pro h3{
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
}

.pro p{
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0;
    transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.pro:hover :is(h3, p),
.pro:focus :is(h3, p){
    transform: none;
}
/* aqui acaba animacion para our team */


#nuestros-profesionales .lm {
    margin: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center; 
} 

.luis img{
    margin-right: 5px;
    height: 30px;
}

/* SECCION 5 */

#estas-listo{
    background: radial-gradient(ellipse at bottom, #022227 5%, #000000 100%);
    position: relative;
    height: 60vh;
    width: 100vw;
    margin: 0;
    display: grid;
    place-items: center;
}

@keyframes shine{
    from{
        background-position: center 0;
    } 
    to{
        background-position: center 200%;
    }
}

#estas-listo h2{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 0 40px;
    margin: 0;
    font-size: 65px;
    letter-spacing: 3px;
    color: white;
    background: url("img/control.jpg");
    background-size: auto 200%;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 7s linear infinite;
}

/* SECCION 6 */

#footer .container{
    padding: 100px 75px 0px 75px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: rgb(221, 221, 221);
}
.contac{
    margin-bottom: 25px;
    font-size: 15px;
}

#footer a{
    margin: -5px;
}

.center{
    text-align: right;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.733);
    font-size: 12px;
}

#footer a:hover{
    box-shadow: 0 0.1rem 0.1rem rgba(13, 30, 36, 0.9);
   
}

#footer img{
    width: 25px;
    height: 25px;
}

@media (min-width: 800px){
    
    /* SECCION 1 */

    header{
        position: fixed;
        width: 100%;
        background-color: rgb(245, 245, 245);
        
    }

    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;

    }

    header nav {
        flex-direction: row;      
        align-items: center;
        padding-bottom: 0;
        padding-right: 30px;
        
    }

    h1{font-size: 4.5em;}
    h2{font-size: 3.3em;}
    h3{font-size: 2em;}
    p{font-size: 1.3em;}

    header .logo{
        font-size: 1.5Rem;
    }

    header a{
        font-size: 1rem;
        
    }

    /* SECCION 2 */
    
    #entrada{
        background-position-y: 20%;
    }
    #entrada button{
        margin: 0;
        font-size: 1.2em;
        padding: 10px 30px;
    }

    #quienes-somos .container{
        max-width: 1000px;
        margin: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .ubicacion p{
        font-size: 1rem;

    }

    div .ubicacion{
        flex-direction: row;
        padding: 0 60px;
        margin-top: 40px;
    }

    #quienes-somos img{
        margin-left: 35px;


    }

    /* SECCION 3 */

    #como-trabajamos h3{
        margin-top: 30px;
        font-size: 35px;
    }
    
    #como-trabajamos .programas{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        min-width: 1000px;
        margin: auto;
        
    }

    #como-trabajamos section{
        height: 230px;
        width: 100%;
        padding-top: 30px;
        


    }

    #como-trabajamos section p{
        display: block;
        color: rgb(255, 255, 255);
        font-weight: bold;
        position: static;
    }

    .carta{
        margin: 20px;
        margin-bottom: 0;
        height: 550px;
        width: 400px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
        
    }

    .boton{
        margin-top: 7.5vh;
        justify-content: center;
        
    }

    /* SECCION 4 */

    #nuestros-profesionales .lm{
        flex-direction: row;
        background-color:rgba(145, 145, 145, 0.116);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.322);
        max-width: 1200px;
        margin: auto;
    }

    .pro{
        margin-top: 30px;
        width: 300px;
    }

    #nuestros-profesionales li{
        font-size: 20px;
        padding: 5px;
        justify-content: left;
        margin-left: 50px;
    }

    /* SECCION 5 */

    #estas-listo h2 {
        font-size: 95px;
    }

    /* SECCION 6 */

    #footer .container{
        flex-direction: row;
        justify-content: space-between;
    }

    .contac{
        display: none;
    }

    .center{
        font-size: 15px;
        display: flex;
    }

    #footer a{
        align-items: center;
        margin-bottom: 15px;
    }

    #footer img{
        width: 40px;
        height: 40px;
    }

}
